* {
    margin: 0 auto;
    padding: 0;
    font-family: Helvetica, sans-serif;
    text-decoration: none;
    background-color: beige;
    font-size: 16px;
}

html {
    height: 100%;
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: beige;
}

/* header styles */

header,
main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

header {
    border-radius: 0.5em;
}

h1 {
    font-size: 1.618em;
    font-weight: 800;
    text-transform: uppercase;
    color: #002a10;
    text-align: center;
}

main {
    flex-direction: column;
    border-bottom-left-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
    height: auto;
}

.container {
    height: 100%;
    width: 40%;
}

/* mobile styles */

@media (max-width: 480px) {
    .container {
        width: 80%;
    }
}

/* date styles */

.date {
    width: 100%;
    color: #002a10;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

h2,
h3 {
    margin: 0.25em 0.75em;
}

h2 {
    font-size: 1em;
    font-weight: 600;
    color: #002a10;
    text-transform: uppercase;
    letter-spacing: 0.08em;
}

h3 {
    font-size: 0.875em;
    font-weight: 600;
}

div > p {
    color: #002a10;
    margin-top: 1.5em;
}

/* form styles */

form {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.text-bar {
    margin: 1.5em;
}

.text-bar > input:nth-child(1) {
    width: 80%;
    border-radius: 0.1em;
    border: none;
    border-bottom: 1px solid #002a10;
    margin: 0 1em;
    color: #002a10;
    font-size: 1em;
}

.text-bar > button:nth-child(2) {
    text-align: center;
    padding: 0.25em 1em;
    border-radius: 0.1em;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(228, 0, 70);
    border-radius: 1em;
    color: rgba(228, 0, 70);
    background-color: white;
    cursor: pointer;
    transition: all 0.4s;
}

.text-bar > button:nth-child(2):hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.1);
    background-color: rgba(228, 0, 70);
    color: white;
}

/* task panel styles */

.task-panel {
    color: white;
    width: 100%;
    height: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* task styles */

.task {
    height: 2rem;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
    margin-bottom: 0.2em;
    color: black;
    border-left: 0.25em solid #ab2f2f;
}

.task > input {
    margin: 0 1em;
}

label {
    display: flex;
    height: 1rem;
    width: 3rem;
    align-items: center;
    justify-content: center;
}

label > input[type="checkbox"] {
    display: flex;
    margin: 0 1em;
    cursor: pointer;
    appearance: none;
    height: 1em;
    width: 1em;
    border: 1px solid black;
    position: relative;
}

label > input[type="checkbox"]:checked {
    background-color: white;
}

label > input[type="checkbox"]:checked:after {
    content: "\2714";
    position: absolute;
    bottom: -15%;
    left: 0px;
    color: #56ab2f;
    font-size: 1.2em;
}

label > input[type="checkbox"]:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}

label > span {
    margin: 0 1em;
}

h4 {
    flex: 6;
}

.task span {
    flex: 1;
    border-left: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
    width: 2rem;
}

span > img {
    height: 100%;
    cursor: pointer;
}

span > img:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}
